<%- include('./_head.ejs') %>
  <main class="mx-auto max-w-pc-full">
		<inject m:inject="m:doRender" m:name="_APP_MAIN">
			<!-- CONTENTS START -->
			<%- include('./_top.ejs') %>
      <section class="section main_1">
        <%- include('./_main1.ejs') %>
      </section>
      <section class="section main_2">
        <%- include('./_main2.ejs') %>
      </section>
      <%- include('./_parallax.ejs') %>
      <section class="section products">
			  <%- include('./_product.ejs') %>
      </section>

			<%- include('./_foot.ejs') %>
      <!-- CONTENTS END -->

		</inject>
	</main>
  <%- include('./_footer.ejs') %>

  