<%- include('./_head.ejs') %>
  <main class="mx-auto max-w-pc-full">
		<inject m:inject="m:doRender" m:name="_APP_MAIN">
			<!-- CONTENTS START -->
			<%- include('./_top.ejs') %>
			<%- include('./_main1.ejs') %>
			<%- include('./_main2.ejs') %>
			<%- include('./_allitem.ejs') %>
      
			<%- include('./_foot.ejs') %>
      <!-- CONTENTS END -->

		</inject>
	</main>
  <%- include('./_footer.ejs') %>

  